<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.witos.ems.server.mapper.EmsBusinessParamMapper">

    <sql id="businessSelect">
        select b.id,
               b.tenant_id as tenantId,
               b.company_id as companyId,
               c.company_name as companyName,
               b.station_id as stationId,
               s.station_name as stationName,
               b.param_key as paramKey,
               b.param_value as paramValue,
               b.value_type as valueType,
               b.scope_type as scopeType,
               b.status,
               b.create_time as createTime,
               b.update_time as updateTime,
               b.remark
        from ems_business_param b
                 left join ems_company c on c.id = b.company_id and c.del_flag = '0'
                 left join ems_station s on s.id = b.station_id and s.del_flag = '0'
        where b.del_flag = '0'
    </sql>

    <sql id="businessScope">
        <if test="scope != null and scope.scopeRestricted">
            <choose>
                <when test="(scope.companyIds != null and scope.companyIds.size() > 0) or (scope.stationIds != null and scope.stationIds.size() > 0)">
                    and (
                    <if test="scope.companyIds != null and scope.companyIds.size() > 0">
                        b.company_id = 0 or b.company_id in
                        <foreach collection="scope.companyIds" item="companyId" open="(" separator="," close=")">
                            #{companyId}
                        </foreach>
                    </if>
                    <if test="scope.stationIds != null and scope.stationIds.size() > 0">
                        <if test="scope.companyIds != null and scope.companyIds.size() > 0">
                            or
                        </if>
                        b.station_id in
                        <foreach collection="scope.stationIds" item="stationId" open="(" separator="," close=")">
                            #{stationId}
                        </foreach>
                    </if>
                    )
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="selectBusinessConfigPage" resultType="java.util.LinkedHashMap">
        <include refid="businessSelect"/>
        <include refid="businessScope"/>
        <include refid="businessQuery"/>
        order by b.id desc
    </select>

    <sql id="businessQuery">
        <if test="query.companyId != null and query.companyId != ''">
            and b.company_id = #{query.companyId}
        </if>
        <if test="query.stationId != null and query.stationId != ''">
            and b.station_id = #{query.stationId}
        </if>
        <if test="query.scopeType != null and query.scopeType != ''">
            and b.scope_type = #{query.scopeType}
        </if>
        <if test="query.paramKey != null and query.paramKey != ''">
            and b.param_key like concat('%', #{query.paramKey}, '%')
        </if>
        <if test="query.status != null and query.status != ''">
            and b.status = #{query.status}
        </if>
    </sql>

    <select id="selectBusinessConfigList" resultType="java.util.LinkedHashMap">
        <include refid="businessSelect"/>
        <include refid="businessScope"/>
        <include refid="businessQuery"/>
        order by b.id desc
    </select>

    <select id="selectBusinessConfigDetail" resultType="java.util.LinkedHashMap">
        <include refid="businessSelect"/>
        and b.id = #{id}
        <include refid="businessScope"/>
        limit 1
    </select>

</mapper>
